<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	{{ $styles := resources.Get "style.css" }}
	<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
	{{ $title := print .Site.Title " | " .Title }} {{ if .IsHome }}{{ $title =
	.Site.Title }}{{ end }}

	{{ if .Param "math" }}
	{{ partialCached "math.html" . }}
	{{ end }}

	{{ partialCached "carousel.html" . }}

	{{ if .Store.Get "hasMermaid" }}
	<!-- Page has mermaid code -->
	<script type="module">
		import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
		mermaid.initialize({ startOnLoad: true });
	</script>
	{{ end }}

	<title>{{ $title }}</title>

</head>
